@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    background: url("../images/bg_1.jpg");
    background-size: cover;
    background-position: center center;
    font-family: 'Poppins', sans-serif;
}

p:not(:last-child) {
    margin: 0 0 20px;
}

main {
    width: 80vw;
    height: 60vh;
    margin: 20vh 8vw;
    border: 1px solid rgba(0, 0, 0, .2);
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    overflow: auto;
}


section {
    display: none;
    color: #fff;
    padding: 40px 40px;
}

input {
    display: none;
}

p {
    font-size: 2.5em;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

label[for*='1']:before {
    content: '\f007';
}

label[for*='2']:before {
    content: '\f022';
}

label[for*='3']:before {
    content: '\f133';
}

span{
    float: right;
}

label:hover {
    cursor: pointer;
    text-shadow: 0px -5px 35px rgba(255,255,255,0.7),
    0px -5px 35px rgba(255,255,255,0.7);
}

input:checked + label {
    color: #fff;
    border-bottom: 2px solid #0af;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
    display: block;
}

@media screen and (max-width: 800px) {
    label {
        font-size: 0;
    }

    label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    label {
        padding: 15px;
    }
}